In [123]:
import pandas as pd
import numpy as np

# A)
I elected to drop the New_Price column because 86% of the data for that column was NaN, so replacing it with the mean, median, or mode would have introduced too much noise into the dataset.

In [124]:
df = pd.read_csv('train.csv')
df = df.drop(['Unnamed: 0'], axis=1) # Drops Unnamed: 0

# Function to easily replace a substring in a df col
def remove_substring(col, string):
  df[col] = df[col].apply(lambda x: str(x).replace(string, ''))

# Function to replace the NaN values to the mean of the col
def replace_with_mean(col):
  df[col] = pd.to_numeric(df[col])
  df[col].fillna(df[col].mean(), inplace=True)

# Checks for all NaN values
print(df.isnull().sum())

# This shows the percent of NaN values in the New_Price col
print('Nan value percentage:', 100 - (df.New_Price.count() / len(df.New_Price) * 100))

# Drops the New_price because 86% of it is NaN, and replacing it with the mean, median, or mode would introduce too much noise
df = df.drop(['New_Price'], axis=1)

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64
Nan value percentage: 86.06122798016077

#B) Remove units from data
I decided to replace the other columns' data with the mean because there was a small percentage of data that had NaN values, so it makes sense in this case.

In [125]:
# This only keeps the numeric vlaues from these columns
remove_substring('Engine', ' CC')
remove_substring('Power', ' bhp')
remove_substring('Engine', ' CC')
remove_substring('Mileage', ' kmpl')
remove_substring('Mileage', ' km/kg')

# Replace all 'nan' strings with NaN
df.replace('nan', np.nan, inplace=True)

# Replace all these NaN values with the mean of the col
replace_with_mean('Seats')
replace_with_mean('Power')
replace_with_mean('Engine')
replace_with_mean('Mileage')

# Verifying that all of the NaN values are gone
print(df.isnull().sum())

Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

<ipython-input-124-349d99772d2d>:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)

# C) One hot encoding

In [126]:
# Gets the one hot encoding for the transmission and fuel_type
# Only saves n-1 number of columns because if not manual, then its automatic, etc.
df = pd.get_dummies(df, columns=['Transmission', 'Fuel_Type'], drop_first=True)
df

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Transmission_Manual,Fuel_Type_Electric,Fuel_Type_Petrol
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,True,False,False
1,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,True,False,True
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,True,False,False
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,False,False,False
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,Maruti Swift VDI,Delhi,2014,27365,First,28.40,1248.0,74.00,5.0,4.75,True,False,False
5843,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,24.40,1120.0,71.00,5.0,4.00,True,False,False
5844,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,14.00,2498.0,112.00,8.0,2.90,True,False,False
5845,Maruti Wagon R VXI,Kolkata,2013,46000,First,18.90,998.0,67.10,5.0,2.65,True,False,True
5846,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,25.44,936.0,57.60,5.0,2.50,True,False,False

# D) Create one custom feature

In [127]:
# This creates a custom column with a km_per_year feature
df['km_per_year'] = (df['Kilometers_Driven'] / (2025 - df['Year'])).astype(int)
df

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Transmission_Manual,Fuel_Type_Electric,Fuel_Type_Petrol,km_per_year
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,True,False,False,4100
1,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,True,False,True,3285
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,True,False,False,6692
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,False,False,False,3389
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,True,False,False,7249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,Maruti Swift VDI,Delhi,2014,27365,First,28.40,1248.0,74.00,5.0,4.75,True,False,False,2487
5843,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,24.40,1120.0,71.00,5.0,4.00,True,False,False,10000
5844,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,14.00,2498.0,112.00,8.0,2.90,True,False,False,4230
5845,Maruti Wagon R VXI,Kolkata,2013,46000,First,18.90,998.0,67.10,5.0,2.65,True,False,True,3833
5846,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,25.44,936.0,57.60,5.0,2.50,True,False,False,3357

#E)

## Selecting

In [128]:
# Selecting three colmuns from the df and printing the results
for index, row in df.head(5).iterrows():
    print(f"{row.Name} from {row.Location} was driven {row.km_per_year} km per year\n")

Hyundai Creta 1.6 CRDi SX Option from Pune was driven 4100 km per year

Honda Jazz V from Chennai was driven 3285 km per year

Maruti Ertiga VDI from Chennai was driven 6692 km per year

Audi A4 New 2.0 TDI Multitronic from Coimbatore was driven 3389 km per year

Nissan Micra Diesel XV from Jaipur was driven 7249 km per year

## Filtering

In [129]:
# This will get the name and price (in Lakh) of all cars that were driven over 100,000 km
df[df['Kilometers_Driven'] > 100_000][['Name', 'Price']]

                                       Name  Price
13              Mitsubishi Pajero Sport 4X4  15.00
27      Toyota Innova 2.5 V Diesel 7-seater   4.00
56                    Nissan X-Trail SLX AT   7.75
62                       Tata Indica V2 eLS   2.50
74                     Toyota Innova 2.0 G1   4.50
...                                     ...    ...
5789         Toyota Corolla Altis 1.8 G CVT   4.00
5790         Tata Indica Vista Quadrajet VX   2.80
5808                       Mahindra Xylo D4   5.30
5817  Renault Duster 85PS Diesel RxL Option   4.25
5834       Mercedes-Benz M-Class ML 320 CDI  10.75

[486 rows x 2 columns]

## Rename

In [130]:
# This is renaming the Seats column to num_of_seats and replacing it inplace
df.rename(columns={'Seats': 'num_of_seats'}, inplace=True)
df

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,num_of_seats,Price,Transmission_Manual,Fuel_Type_Electric,Fuel_Type_Petrol,km_per_year
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,True,False,False,4100
1,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,True,False,True,3285
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,True,False,False,6692
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,False,False,False,3389
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,True,False,False,7249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,Maruti Swift VDI,Delhi,2014,27365,First,28.40,1248.0,74.00,5.0,4.75,True,False,False,2487
5843,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,24.40,1120.0,71.00,5.0,4.00,True,False,False,10000
5844,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,14.00,2498.0,112.00,8.0,2.90,True,False,False,4230
5845,Maruti Wagon R VXI,Kolkata,2013,46000,First,18.90,998.0,67.10,5.0,2.65,True,False,True,3833
5846,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,25.44,936.0,57.60,5.0,2.50,True,False,False,3357

## Mutate

In [131]:
# This is making a new column that shows the age of the car (given it is 2025)
df['Age'] = (2025 - df['Year'])
df

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,num_of_seats,Price,Transmission_Manual,Fuel_Type_Electric,Fuel_Type_Petrol,km_per_year,Age
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,True,False,False,4100,10
1,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,True,False,True,3285,14
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,True,False,False,6692,13
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,False,False,False,3389,12
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,True,False,False,7249,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,Maruti Swift VDI,Delhi,2014,27365,First,28.40,1248.0,74.00,5.0,4.75,True,False,False,2487,11
5843,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,24.40,1120.0,71.00,5.0,4.00,True,False,False,10000,10
5844,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,14.00,2498.0,112.00,8.0,2.90,True,False,False,4230,13
5845,Maruti Wagon R VXI,Kolkata,2013,46000,First,18.90,998.0,67.10,5.0,2.65,True,False,True,3833,12
5846,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,25.44,936.0,57.60,5.0,2.50,True,False,False,3357,14

## Arranging

In [132]:
# Sort the entries by descending price
df = df.sort_values('Price', ascending=False)
df

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,num_of_seats,Price,Transmission_Manual,Fuel_Type_Electric,Fuel_Type_Petrol,km_per_year,Age
3952,Land Rover Range Rover 3.0 Diesel LWB Vogue,Hyderabad,2017,25000,First,13.33,2993.0,255.0,5.0,160.00,False,False,False,3125,8
5620,Lamborghini Gallardo Coupe,Delhi,2011,6500,Third,6.40,5204.0,560.0,2.0,120.00,False,False,True,464,14
5752,Jaguar F Type 5.0 V8 S,Hyderabad,2015,8000,First,12.50,5000.0,488.1,2.0,100.00,False,False,True,800,10
1457,Land Rover Range Rover Sport SE,Kochi,2019,26013,First,12.65,2993.0,255.0,5.0,97.07,False,False,False,4335,6
1917,BMW 7 Series 740Li,Coimbatore,2018,28060,First,12.05,2979.0,320.0,5.0,93.67,False,False,True,4008,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3127,Maruti 800 Std,Pune,2003,52000,First,16.10,796.0,37.0,4.0,0.50,True,False,True,2363,22
1577,Maruti 800 Std BSIII,Jaipur,2004,12000,Second,16.10,796.0,37.0,4.0,0.45,True,False,True,571,21
2758,Hyundai Getz GLS,Pune,2005,86000,Second,15.30,1341.0,83.0,5.0,0.45,True,False,True,4300,20
3039,Maruti Zen LXI,Jaipur,1998,95150,Third,17.30,993.0,60.0,5.0,0.45,True,False,True,3524,27
1660,Tata Nano Lx,Pune,2011,65000,Second,26.00,624.0,35.0,4.0,0.44,True,False,True,4642,14

## Summarize

In [133]:
# This will give us a list of years and then give us the average price of a car from that year and the total number of km driven for that year of cars
df.groupby('Year').agg({
    'Price': 'mean',
    'Kilometers_Driven': 'sum'
}).reset_index()

    Year      Price  Kilometers_Driven
0   1998   1.626667             245600
1   1999   0.835000             210000
2   2000   1.175000             450000
3   2001   0.920000             699943
4   2002   1.321667             918311
5   2003   2.548750            1336661
6   2004   1.990000            2520033
7   2005   2.262955            4044621
8   2006   3.596377            6906227
9   2007   3.427830            9224478
10  2008   4.051227           13728121
11  2009   5.246269           15470793
12  2010   5.477970           24515845
13  2011   6.813341           31561810
14  2012   7.460699           38503377
15  2013   8.835800           40878674
16  2014   9.742462           44421322
17  2015  11.316962           38969948
18  2016  11.776798           31715418
19  2017  13.831735           26110479
20  2018  15.884558            7071504
21  2019  19.603564            2020892